{% extends "index.html" %}
{% block content %}

<div class="container mt-5">
    {% for message  in messages  %}
      
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Alert!!!</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <h4>Property Booked for Buy</h4>
    <table class="table table-striped mt-5">
        <tr>
            <th>Booked Property</th>
            <th>Date</th>
            <th>Status</th>
            <th>Staff</th>
            <th>Staff Comment</th>
            <th>Action</th>
        </tr>
        {% for i in cart %}
          
        <tr>
            <td>{{i.property.Name}} <a href="{%url 'PropertySaleSingleView' i.id %}" class="btn btn-outline-dark btn-sm">View</a></td>
            <td>{{i.date}}</td>
            {% if i.approvel == True %}
            <td><span class="badge bg-success">Approved</span></td>
            {% else %}
            <td><span class="badge bg-warning">Pending</span></td>
            {% endif %}
            <td>{{i.staff.user.first_name}}</td>
            <td>{{i.staff_comment}}</td>
            {% if i.approvel == True %}
            <td>
                <a href="{%url 'LandLordInformation' i.property.User_id %}" class="btn btn-outline-dark btn-sm">View Landord Information</a>
                
            </td>
            {% else %}
            <td><a href="{%url 'DeleteSaleBook' i.id %}" class="btn btn-outline-danger btn-sm">Delete</a></td>
            {% endif %}
            <td></td>
        </tr>

        {% endfor %}

    </table>
</div>
{% endblock %}