{% extends "index.html" %}
{% load static %}

{% block content %}
<style>
    .register{
        display: none;
    }
</style>

<div class="container-xxl py-5 login" id="login">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{% static 'img/call-to-action.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3">Confirm Who You are....</h1>
                            {% for m in messages  %}
                              
                            <p class="text-danger">{{m}}</p>
                            {% endfor %}

                            <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
                            
                            <a href="{%url 'TenentConfirm' %}" class="btn btn-info btn-lg">I am a Tenent</a>
                            <a href="{%url 'LandLoadConfirm' %}" class="btn btn-warning btn-lg">I Am A Landloard</a>
                        </div>
                                        </div>Back To Login<a href="{%url 'SignOut' %}" class="py-3 px-4">Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function displayRegisterContainers(){
        document.getElementById("register").style.display = "block"
        document.getElementById("login").style.display = "none"


    }
    function displayLoginContainers(){
        document.getElementById("register").style.display = "none"
        document.getElementById("login").style.display = "block"


    }
</script>

  
{% endblock %}